@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Fascinate+Inline|Monoton|Montserrat|Montserrat+Alternates|Open+Sans|Poppins|Pridi');

.weird-flex-container-but-ok {
  padding: 0;
  margin-top: 4%;
  margin-left: 19%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  opacity: 0.9;
}

.flex-item {
  background: #ffffff;
  padding-left: 2%;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 0px 1px #dddddd;
  border-radius: 5px 5px 5px 5px;
  line-height: 3vw;
  color: white;
  font-size: 3vw;
  text-align: left;
  font-family: 'Montserrat';
  overflow: hidden;
  opacity: 1;
}

.flex-item_and_maybe_it_has_some_summary_information_who_knows{
  background: #ffffff;
  padding: 10%;
  width: 100%;
  height: 30%;
  margin-top: 2%;
  margin-right: 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 0px 1px #dddddd;
  line-height: 10%;
  color: black;
  font-size: 3vw;
  text-align: center;
  font-family: 'Montserrat'
  opacity: 1;
}
