/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 4%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #909090;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  -webkit-transition: width 2s;
  transition: width 0.5s, background-color 0.5s linear 0.25s, opacity 0.5s;
  overflow: hidden;
  box-shadow: 3px 0px 4px #666666;
  opacity: 1;
}
.neat_links_for_my_neat_content {
  padding-left: 5%;
}

.sidenav:hover {
    background-color: #ffffff;
    width: 20%;
    box-shadow: 10px 10px 8px 2px #111111;
    opacity: 0.6;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #909090;
  font-family: "palatino";
  font-weight: 50;
  transition: color 1s;
  display: block;
}

.sidenav p {
  text-align: center;
  color: #ffffff;
  font-size:50px;
  line-height: 0.25;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: #ffefff
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
