@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Fascinate+Inline|Monoton|Montserrat|Montserrat+Alternates|Open+Sans|Poppins|Pridi');

.flex-container {
  padding: 0;
  margin-top: 100px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #ADD8E6;
  padding: 5px;
  width: 300px;
  height: 225px;
  margin-top: 10px;
  box-shadow: 10px 10px 10px #dddddd;
  border-radius: 15px 50px 30px 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  font-family: 'Fascinate Inline'
}
